<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sun-Poem</title>
    <style>
        body{
    background-image: url(https://images.idgesg.net/images/article/2017/09/sunset-ocean-100735801-large.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
        p{ color: white; 
           font-size: 2em;
           text-align: center;
           font-family:Franklin Gothic Medium;}
        b{ color: orangered; 
           font-size: 2em;
           text-align: center;
           font-family: Verdana;}
        
    </style>
</head>

<body>
    <!-- #source: https://www.thefactsite.com/facts-about-the-sun/ -->
    <!-- #source: https://www.wiseoldsayings.com/the-sun-quotes/ -->
    <h3><p>{{text1}}</p>
        <br><b>{{text2}}</b>
    </h3>

    <form action="d2">
            <button type="submit">Next-></button>
    <form>
 
</body>

</html>