<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moon-Poem</title>
    <style>
        body{
    background-image: url(https://images.theconversation.com/files/335463/original/file-20200515-138615-ay2p3z.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
        p{ color: white;
           font-size: 3em;
           text-align: center }
    </style>
</head>

<body>
    <!-- #source: https://factpros.com/interesting-facts-about-the-moon-for-kids-and-adults/ -->
    <h3><p>{{text}}</p></h3>

    <form action="d3">
        <button type="submit">Next-></button>
    <form>
</body>

</html>