<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stars-Poem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body{
    background-image: url(https://pa1.narvii.com/6701/ffdf9fe9ed60b0a5039e601a022976b1db2ebd04_hq.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
        p{ color: white; }
    </style>
</head>

<body>
    <!-- #source: https://www.factretriever.com/star-facts -->
    <h3><p>{{text}}</p></h3>

    <form action="d2">
        <button type="submit"><-Back</button>
    <form>

    <form action="index">
        <button type="submit">-Home-</button>
    <form>

    <form action="d4">
        <button type="submit">Next-></button>
    <form>

</body>

</html>