<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stars-Poem</title>
    <style>
        body{
    background-image: url(https://www.johannlurf.net/%E2%98%85/johann_lurf_starfilm08.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
        p{ color: white; }
    </style>
</head>

<body>
    <!-- #source: https://www.factretriever.com/star-facts -->
    <h3><p>{{text}}</p></h3>

    <form action="d4">
        <button type="submit">Next-></button>
    <form>

</body>

</html>