<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Poem</title>
    <style>
        body{
    background-image: url(https://i.pinimg.com/originals/a6/57/e8/a657e83d948647d64458c58fe56e7da6.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
        p{ color: white; 
           font-size: 4em;
           text-align: center;
           font-family:Franklin Gothic Medium;}
    </style>
</head>

<body>
  
    <h1>Things in the sky</h1>
    <a href="d1"><img alt="Sun" 
        src="https://i.giphy.com/media/3ogwG0cKu7x87xU6VG/giphy.webp"
        width="350" height="270" style="vertical-align:middle" >
    </a>
    <a href="d2"><img alt="Moon" 
        src="https://i.giphy.com/media/SirUFDS5F83Go/giphy.webp"
        width="350" height="270" style="vertical-align:middle" >
    </a>
    <a href="d3"><img alt="Star" 
        src="https://i.giphy.com/media/ka5i65sFAlM9pbZ2OM/giphy.webp"
        width="350" height="270" style="vertical-align:middle" >
    </a>
    <a href="d4"><img alt="Cloud" 
        src="https://media4.giphy.com/media/KwZoSJlvep6Vy/giphy.gif"
        width="350" height="270" style="vertical-align:middle" >
    </a>
 
</body>

</html>