<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Poem</title>
    <style>
        body{
    background-image: url(https://truthignitedministry.files.wordpress.com/2019/01/SunGodWordpress.png?w=920&h=344&crop=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
        p{ color: white; }
    </style>
</head>

<body>
  
    <a href="d1"><img alt="Sun" 
        src="https://i.giphy.com/media/3ogwG0cKu7x87xU6VG/giphy.webp"
        width="450" height="370">
    </a>
    <a href="d2"><img alt="Moon" 
        src="https://i.giphy.com/media/SirUFDS5F83Go/giphy.webp"
        width="450" height="370">
    </a>
    <a href="d3"><img alt="Star" 
        src="https://i.giphy.com/media/ka5i65sFAlM9pbZ2OM/giphy.webp"
        width="450" height="370">
    </a>
    <a href="d4"><img alt="Cloud" 
        src="https://media4.giphy.com/media/KwZoSJlvep6Vy/giphy.gif"
        width="450" height="370">
    </a>
 
</body>

</html>